html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5ebeb;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #333;
    display: flex;
    color: #c9c6c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 1.2rem;
}


span.green {
    color: #45b29d;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

#weather-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 3%;
    font-size: 3rem;
    color: #403e39;
    font-weight: lighter;
    letter-spacing: 5px;
}

input {
    outline: none;
    border: none;
    border-bottom: solid #403e39 2px;
    background-color: #e5ebeb;
    padding: 0.5rem;
    width: 14rem;
    font-size: 2rem;
    text-align: center;
}

input:focus {
    outline: none;
    border-bottom: solid #45b29d 2px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px
}

#search-icon {
    height: 8%;
    width: 8%;
    background-color: #45b29d;
    border-radius: 25px;
    padding: 0.5rem;
    cursor: pointer;
}

.result-card {
    background-color: white;
    width: 550px;
    height: 225px;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

#return-btn {
    height: 50px;
    width: 50px;
    background-color: #45b29d;
    border: none;
    border-radius: 25px;
    position: relative;
    left: 29rem;
    top: -1rem;
}

#convert-units-btn {
    height: 35px;
    width: 35px;
    background-color: #45b29d;
    border: none;
    border-radius: 25px;
    position: relative;
    color: white;
    font-size: 1.5rem;
    left: 1.5rem;
    top: 0.25rem;
}

#result-place,
#result-weather-desc {
    font-weight: 550;
}


.result-summary {
    display: flex;
    flex-wrap: wrap;
}

.summary-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0px;
    margin-bottom: 0.5rem;
}

.summary-item>div {
    color: #403e39;
}

.summary-item.one {
    border-right: 2px solid black;
}

#result-temp {
    font-size: 4rem;
}

#result-weather {
    font-size: 3.5rem;
}

#result-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0.5rem 1rem;
}

.details-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-item>h2 {
    color: #45b29d;
    font-weight: 550;
}

.details-item>p {
    color: #403e39;
}

button {
    cursor: pointer;
}

.result-screen {
    display: none;
    transform: translateY(-100px);
}

#convert-units-btn::after {
    content: "C";
}

#convert-units-btn.celsius::after {
    content: "F";
}